<h1> SHopping cart!</h1>
<ng-container *ngIf="cart">
  <p> Yo {{ cart.itemsCount }} !! </p>

  <table class="table">
    <thead>
      <tr class="text-center">
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of cart.items">
        <td class="text-center">{{ i.title }}</td>
        <td>
          <div class="row no-gutters">
          
              <app-product-quantity
        
              [product]="i"
              [shopping-cart]="cart">
    
            </app-product-quantity>
        </div>
        </td>
        <td>{{ i.totalPrice | currency:'USD'}}</td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th> {{ cart.totalPrice | currency:'USD'}}</th>
      </tr>

    </tfoot>
  </table>
</ng-container>