<h1> Shopping cart</h1>
<div class="col-10" *ngIf = "cart$ | async as cart">
  <p> You have {{ cart.itemsCount }} items in your cart. </p>

  <table  class="table">
    <thead>
      <tr class="text-center">
        <th class="thumbnailDiv"></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of cart.items">
        <td class="align-center">
          <div class="thumbnail align-center" alt="product"
               [style.backgroundImage]="'url('+ i.imgUrl +')'" >
          </div>
        </td>
        <td class="align-center">{{ i.title }}</td>
        <td  class="align-center ">
          <div class="row no-gutters">         
            <app-product-quantity  style="width:100%"
        
              [product]="i"
              [shopping-cart]="cart">
    
            </app-product-quantity>
          </div>
        </td>
        <td class="align-center" >{{ i.totalPrice | currency:'USD'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <th class="align-center"></th>
        <th class="align-center"></th>
        <th class="align-center"></th>
        <th class="align-center"> {{ cart.totalPrice | currency:'USD'}}</th>
      </tr>

    </tfoot>
  </table>
  <button class="btn btn-warning btn-sm"
  (click)="clearCart()">Clear All</button>
</div>