.card-text{
    font-weight: bold;
}

.img{
    width: 100%;
    height: 200px;
    border-radius: 0%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: black
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 0%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
}

.card-footer{
    padding: 0;
    
}

.bottom{
    margin-bottom: 10px;
}