<div *ngIf="product && product.title" class="card"

  (click)="click()" routerLink='/shopping-cart'>
 
  <a  class="card-img-top thumbnail" alt="product"
               [style.backgroundImage]="'url('+ product.imgUrl +')'" >
</a>

  <div class="card-body">
    <h6 class="card-title"> {{product.title}}</h6>
    <p class="card-text">{{ product.price | currency:'USD' }}</p>
  </div>
  <div  *ngIf="showActoin && cart" class="card-footer">
      <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
              (click)="addToCart()"
              class="btn btn-secondary btn-block">
              Add to Cart
      </button>
      <ng-template #updateQuantity>
        <app-product-quantity
        
          [product]="product"
          [shopping-cart]="cart">

        </app-product-quantity>
        
      </ng-template>
  </div>
</div>