.card-text{
    font-weight: bold;
}


div{
    --background-color: #e6e6e6
}

.img{
    width: 100%;
    height: 200px;
    border-radius: 0%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--background-color);
    background-origin: content-box;
    padding: 10px;
}

.card-body{
    background-color: var(--background-color);
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 0%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
}

.card-footer{
    padding: 0;
    
}

.bottom{
    margin-bottom: 10px;
}