<div *ngIf="coverImgUrl && product && product.title" class="card">
 
  <a *ngIf="previewOnly"  routerLink='/product/details/'
               (click)="click(product.key)"
               class="card-img-top img"
               [style.backgroundImage]="'url('+ product.imgUrl +')'" >
  </a>
  <a *ngIf="!previewOnly" class="card-img-top img"
          [style.backgroundImage]="'url('+ coverImgUrl +')'" >
  </a>

  <div class="card-body">
    <h6 class="card-title"> {{product.title}}</h6>
    <p class="card-text">{{ product.price | currency:'USD' }}</p>
  </div>

</div>
<div *ngIf="!previewOnly" class="flexDiv">
    <div class="icon" (click)="updateCoverImage(product.imgUrl)"
    [style.backgroundImage]="'url('+ product.imgUrl +')'" >

    </div> <div *ngFor="let url of product.imgUrls">
        <div class="icon" (click)="updateCoverImage(url)"
        [style.backgroundImage]="'url('+ url +')'" >
    </div>
  </div>

</div>
<div class="bottom"></div>
