

<div class="row">
  <div class="col-md-6">
    <!-- use button click instead of (ngSubmit)="save(f.value)" -->
    <form #f="ngForm" >
        <div class="form-group">
          <label for="title">Title</label>
          <input #title="ngModel" [(ngModel)] = "product && product.title"
                  required
                  name="title" id="title" type="text"
                  class="form-control">
            <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
              <small *ngIf="title.errors.required"> Title is required </small>
            </div>
        </div>
      
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input #price="ngModel" [(ngModel)] = "product && product.price"
                     required [min] = "0"
                     name="price" id="price" type="number"
                     class="form-control">   
          </div>
          <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
            <small *ngIf="price.errors.required"> Price is required </small>
            <small *ngIf="price.errors.min">  Price should be {{ price.errors.requiredValue }} or higher </small>
          </div>
        </div>
      
        <div class="form-group">
          <label for="category">Category</label>
          <!-- use multiple directive for multiple selection  -->
          <select #category="ngModel" [(ngModel)] = "product && product.category"
                  required 
                  name="category" id="category" type="text"
                  class="form-control">
            <option value="">Please Select</option>
            <option *ngFor="let c of categories$ | async" [value]="c.key">
              {{c.name}}
            </option>
          </select>
          <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
            <small *ngIf="category.errors.required"> Category is required </small>
          </div>
        </div>
      
        <div class="form-group">
          <label for="imgUrl">Image URL</label>
          <input #imgUrl="ngModel" [(ngModel)] = "product && product.imgUrl"
                 required url
                 name="imgUrl" id="imgUrl" type="text"
                 class="form-control">
          <div *ngIf="imgUrl.touched && imgUrl.invalid" class="alert alert-danger">
              <small *ngIf="imgUrl.errors.required"> Image URL is required </small>
              <small *ngIf="imgUrl.errors.url"> Please use a valid url </small>
          </div>
        </div>
        <button (click)="save(f.value)" type="button"[disabled]="f.invalid" class="btn btn-primary">Save</button>
        <button type="button" [routerLink]="['/admin/products']" class="btn btn-info">Back</button>
        <button *ngIf="id != null" (click)="delete()" type="button" class="btn btn-danger">Delete</button>

    </form>
  </div>
  <div class="col-md-6">
      <div *ngIf="product.title" class="card" style="width: 18rem;">
        <img  *ngIf="product && product.imgUrl" class="card-img-top" 
          [src]="product.imgUrl"
          alt="{{product.title}} image "
          >
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.value | currency: 'USD': true}}</p>
        </div>
      </div>
  </div>
</div>


