
<div *ngIf="orders">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <h6> Orders </h6>
        <div class="center-block">
          <div *ngFor="let order of orders">
            <app-order-details [order]="order"></app-order-details>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="orders.length"
                    (pageChange)="onPageChange($event)" maxSize="5" [pageSize]="numItemsPerPage"
                    [(page)]="page" rotate="true" boundaryLinks="true"></ngb-pagination>
  
</div>