
<div *ngIf="orders">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col">
        <h6> Orders </h6>
        <div class="center-block">
          <div class="order" *ngFor="let order of orders">
              <div class="orderHeader">
                <div>
                  <small> ORDER PLACED </small>
                  <div> {{order.datePlaced | date:'longDate'}}</div>
                </div>

                <div>
                    <small> TOTAL </small>
                    <div> {{order.orderTotalPrice | currency:'USD'}}</div>
                </div>

                <div>
                    <small> ORDER ID {{ order.key | uppercase}} </small>
                    <div > <a routerLink="">DETAILS</a> </div>
                </div>

              </div>
             
              <div class="statusText">
                  <h4> STATUS {{ order.status | uppercase}} </h4>
              </div>
              
              <div *ngFor="let item of order.items">
                <app-order-view [order]="item"></app-order-view>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="orders.length"
                    (pageChange)="onPageChange($event)" maxSize="5" [pageSize]="numItemsPerPage"
                    [(page)]="page" rotate="true" boundaryLinks="true"></ngb-pagination>
  
</div>