<div class="row">
 
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container >
          <div [className]="screenWidth > 800?
                             'col-3': 
                             screenWidth > 600?
                             'col-6':
                             'col-12'" *ngFor= "let p of filteredProducts; let i = index">
           <app-product-view
            [preview-only]="true"
            [shopping-cart] = "cart"
            [product]="p"></app-product-view>
          </div>
        </ng-container>
      </div>
  </div>

</div>
