<div class="row">
  <div class="col-3">
    <app-category-view [category]="category"></app-category-view>
  </div>
  <div class="col">
    <div class="row" >
        <ng-container *ngFor= "let p of filteredProducts; let i = index">
          <div class="col">
           <app-product-view
            [shopping-cart] = "cart"
            [product]="p"></app-product-view>
          </div>
          <div class="w-100" *ngIf="(i+1) % 2 === 0"></div>
        </ng-container>
      </div>
  </div>
</div>