<div class="row">
  <div class="col-1">
  </div>
  <div class="col">
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container >
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" *ngFor= "let p of filteredProducts; let i = index">
           <app-product-view
            [preview-only]="true"
            [shopping-cart] = "cart"
            [product]="p"></app-product-view>
          </div>
        </ng-container>
      </div>
  </div>
  <div class="col-1">
    </div>
</div>
